.app {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  min-width: 600px;
  padding: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
