.app {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-filter {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 15px;
  min-width: 600px;
  padding: 20px;
}